<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>js高级对象</title>
</head>
<body>
    <!-- 
    对象
      1.什么是对象？  多个数据的封装体
        用来保存多个数据的容器
        一个对象表示现实中的一个事物
        2.为什么要用对象？
        统一管理多个数据
        3.对象的组成?
        属性，方法（一种特别的属性，属性值是函数）
        4.如何访问对象的内部数据？
        .属性名   ['属性名']
     
     问题:什么情况下必须使用['属性名']的方式访问对象的内部属性
        属性名包含特殊字符：- 空格
        属性名不确定        
     -->
    <!-- 
        函数
        什么是函数？
            具有实现特点功能的n条语句的封装
            只有函数是可以执行的，其它类型的数据是不能执行的。
        为什么用函数？
            提高代码的复用率
            便于阅读交流
        如何定义函数？
            函数声明
            表达式
        如何调用（执行）函数？
        test（）：直接调用
        obj.tes():通过对象调用
        test.call/apply(obj):临时让test成为obj的方法调用
        什么函数是回调函数？
        你定义了  它没有调用  但是最终它执行了
        常见的回调函数？dom事件的回调  定时器回调函数
        ajax请求回调函数
        生命周期回调函数

        IIFE
        理解：立即执行调用函数表达式
        作用：(()=>{}())  隐藏实现  不会污染（外部）  用它编码js模块


        函数中的this
        1.this是什么？
        任何函数本质上都是通过一个对象来调用的。如果没有指定，this指向window
        所有函数内部都有一个变量this，它的值是调用函数的当前对象
        2.如何确定this的值？
        test（）:window
        p.test() :p
        new test() :新创建的对象
        p.call(obj) :obj

     -->
    <script>

    </script>
</body>
</html>